.wrapper {
  display: flex;
  width: 500px;
  height: 100vh;
  margin: auto;
  justify-content: center;
}
.bg-image {
  background-repeat: no-repeat;
  background: url("^assets/home-bg.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: inherit;
  height: 100vh;
}
.submit-button {
  background: url("^assets/home-button.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 10rem;
  width: 25rem;
  background-size: cover;
  bottom: 15vh;
  position: absolute;
}
